[submodule "assets/sass/library/typecsset"]
	path = assets/sass/library/typecsset
	url = https://github.com/csswizardry/typecsset.git
[submodule "assets/sass/library/csswizardry-grids"]
	path = assets/sass/library/csswizardry-grids
	url = https://github.com/csswizardry/csswizardry-grids.git
[submodule "assets/sass/library/normalize"]
	path = assets/sass/library/normalize
	url = https://github.com/necolas/normalize.css.git
